{% extends 'base.html' %}

{% block title %} Passwords {% endblock %}

{% block body %}
<div class="h1 container text-center mt-4">
  All Passwords:
</div>
<div class="container text-center my-3">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Social Media</th>
          <th scope="col">Username/Email</th>
          <th scope="col">Password</th>
          <!-- <th scope="col">Actions</th> -->
        </tr>
      </thead>
      <tbody id="tableBody">
      
        {% for account, username, password in all_pass %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{account}}</td>
            <td>{{username}}</td>
            <td>{{password}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  <div class="container text-center" style="font-size: larger;">
    <a href="/">Take me back!</a>
  </div>
{% endblock %}